{{- $dep := .Values.dependencies.nfd -}}
{{- $shouldInstall := include "rhoai-dependencies.shouldInstall" (dict "dependencyName" "nfd" "dependency" $dep "dependencies" .Values.dependencies "components" .Values.components "services" .Values.services) -}}
{{- if eq $shouldInstall "true" }}
{{- if include "rhoai-dependencies.crdExists" (dict "crdName" "nodefeaturediscoveries.nfd.openshift.io" "root" $) }}
{{- if and $dep.config $dep.config.spec }}
apiVersion: nfd.openshift.io/v1
kind: NodeFeatureDiscovery
metadata:
  name: nfd-instance
  namespace: {{ $dep.olm.namespace }}
  labels:
    {{- include "rhoai-dependencies.labels" . | nindent 4 }}
spec:
  {{- toYaml $dep.config.spec | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
