# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
# pkg and bin directories currently contain build artifacts
# only so we exclude them.
bin/
vendor/

.vscode/
.idea/
.github/

# Compiled python files.
*.pyc

# Emacs temporary files
*~

# Other temporary files
.DS_Store

# temporary files from emacs flymd-mode
flymd.*

# vim .swp files
*.swp
*.swo

# Ignore temporary files created by the Makefile
*.mktmp.*

# Test folder
test/

# Documentation
api-docs.md
