{{- /*
DSCInitialization configuration
*/ -}}
{{- if include "rhoai-dependencies.crdExists" (dict "crdName" "dscinitializations.dscinitialization.opendatahub.io" "root" $) }}
{{- $operatorType := .Values.operator.type -}}
{{- $operatorConfig := index .Values.operator $operatorType -}}
apiVersion: dscinitialization.opendatahub.io/v2
kind: DSCInitialization
metadata:
  labels:
    {{- include "rhoai-dependencies.labels" . | nindent 4 }}
  name: default-dsci
spec:
  monitoring:
    managementState: {{ .Values.services.monitoring.dsci.managementState }}
    namespace: {{ $operatorConfig.monitoringNamespace }}
  {{- range $key, $value := .Values.services.monitoring.dsci }}
    {{- if and (ne $key "managementState") (not (empty $value)) }}
      {{ $key }}:
        {{- $value | toYaml | nindent 6 }}
      {{- end }}
    {{- end }}
  applicationsNamespace: {{ $operatorConfig.applicationsNamespace }}
  trustedCABundle:
    managementState: {{ .Values.trustedCABundle.managementState }}
    customCABundle: {{ .Values.trustedCABundle.customCABundle | quote }}
{{- end }}
